.content {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 100vh; */
    text-align: center;
    background-color: #342937;
}
.content div {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: honeydew;
    /* margin: 1vh; */
}
.hoodie {
    background-image: url(https://img.freepik.com/free-vector/hoodie-set-illustration-white-background_208593-393.jpg?size=338&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}